NEXT_PUBLIC_SUPABASE_URL=https://nfvmwjkrfigdojbjexkv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5mdm13amtyZmlnZG9qYmpleGt2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM4MzgwMjAsImV4cCI6MjA3OTQxNDAyMH0.kjSfrrFMNpg9_1uUSKrq_x-OoAx8GvE-9Riz5uyWgnM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5mdm13amtyZmlnZG9qYmpleGt2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzgzODAyMCwiZXhwIjoyMDc5NDE0MDIwfQ.i3Kj2E8RkqT4Bi0m8zwzgcT2qtNfEPqa1r31LwtgNAM
DATABASE_URL=DATABASE_URL="postgresql://postgres.nfvmwjkrfigdojbjexkv:J3qvWHo83cPzB5@aws-1-eu-north-1.pooler.supabase.com:6543/postgres"
